body
{
    background-image: url(../imagens/wallpaper-2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'VT323', monospace;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.cartao
{
    background-color: #070d12;
    width: 370px;
    border: 2px solid #90abbe;
    border-radius: 10px;
    overflow: hidden;
}

.cartao .minhas-informacoes
{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cartao .minhas-informacoes img
{
    border-radius: 60px;
    border: 4px solid ;
    color: #b0cddf;
}

.cartao .minhas-informacoes .nome{
    font-size: 30px;

}
.cartao .minhas-informacoes .cargo{
    font-size: 22px;
    color: #df4b35;
}

.cartao .conteudo{
    margin-top: 15px;
}

.cartao .abas{
    display: flex;
}

.cartao .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
   
}

.cartao .abas img{
    width: 30px;
}

.cartao .abas .aba.selecionado{
    background-color: #262626;
}

.cartao .informacoes-abas{
    background-color: #262626;
}
.cartao .abas .aba:hover{
    background-color: #414141;
}

.informacoes-abas .informacao{
    min-height: 100px;
    padding: 15px;
    display: none;
}

.informacoes-abas .informacao.selecionado{
    display: block;
}

.informacoes-abas .sub-titulo{
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.informacoes-abas .descricao{
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
}

.informacoes-abas .descricao  span{
    color: #d5982e;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    max-height: 250px;
    overflow-y: auto;
    
}

.redes-sociais li a{    
    width: 250px;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    border: 1px solid;
}

.redes-sociais li a:hover{
    opacity: 0.8;
}

.redes-sociais .curriculo{
    background-color: #6A041D;
}

.redes-sociais .linkedin{
    background-color: #275dad;
}

.redes-sociais .github{
    background-color: #24292f;
}

.redes-sociais .projeto-agenda{
    background-color: #FFB30F;
}

.redes-sociais .instagram{
    background-image: linear-gradient(to left, #4f5bd5, #962fbf,#d62976, #fa7e1e, #feda75);
}

#foto-perfil {
    width: 120px
}

#click {
    height: 35px;
}
